<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.e3e4e20.mapper.UserInfoMapper">
    <resultMap id="userInfo" type="com.e3e4e20.entity.mapper.UserInfoEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="department" column="department"/>
        <result property="post" column="post"/>
        <result property="politicalStatus" column="political_status"/>
        <result property="partyBranch" column="party_branch"/>
    </resultMap>
    <insert id="insertUserInfo" parameterType="com.e3e4e20.entity.mapper.UserInfoEntity">
        insert
        into `t_userinfo` (`id`,`name`,`department`,`post`,`political_status`,`party_branch`)
        values(#{id},#{name},#{department},#{post},#{politicalStatus},#{partyBranch})
    </insert>
    <select id="selectAllUserInfo" resultMap="userInfo">
        select * from `t_userinfo`
    </select>
    <select id="selectUserInfoByUserid" resultMap="userInfo">
        select * from `t_userinfo` where `id`=#{id}
    </select>
    <update id="updateUserInfoByUserid" parameterType="com.e3e4e20.entity.mapper.UserInfoEntity">
        update
        `t_userinfo`
        set
        `name`=#{name},`department`=#{department},`political_status`=#{politicalStatus},`party_branch`=#{partyBranch},`post`=#{post}
        where
        `id`=#{id}
    </update>
    <delete id="deleteUserInfoByUserid">
        delete from `t_userinfo` where `id`=#{id}
    </delete>
</mapper>